.login-page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #343433, #292928);
}
.container {
  min-height: 100vh;
  border-left: 3px solid #FFFF33 !important;
}
a {
  font-weight: bold;
  width: 300px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.google {
  margin-top: 42px;
  background: #F44336;
}

.facebook {
  background: #3f51b5;
}

.social-sign {
  margin-bottom: 42px;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 6px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  transition: 0.2s ease;
  cursor: pointer;
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
}

.wow-much{
  padding-top: 34vh;
}

.description {

  margin-top: 50px;
  color: #FFFF33;
  font-family: 'Lobster', cursive;
  /*text-shadow: 0 0 1px #FFFF33, 0 0 5px rgba(255, 255, 51, 0.27);*/
}
.border-awesome {
  /*border: 3px solid #FFFF33 !important;*/
}

.text-signing {
  color: #FFFF33;
}



@media (max-width: 575px) {
  .description {
    text-align: center !important;
  }
  .subtitle {
    font-weight: 100;
  }
  .text-signing {
    margin-top: 42px;
  }
  .wow-much {
    padding-top: 13vh;
  }
}

.gossip {
  background: #FFFF33;
  color: #343433;
  line-height: 60px;
  font-size: 44px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: #FFFF33;
  margin-top: 63px;
  width: 300px;
}
